*{
  text-align: center;
}

.Header{
  background-image: url(/resources/images/Broadway_building.png);
}
.Header h1{
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.Header2{
  background-image: url(/resources/images/Broadway_building.png);
  color: white;
}
.Header a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}


h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
.Footer p{
  font-family: Helvetica;
  font-size: 11px;
  color:white;
  background-color: dimgray;
  text-align: left;
}
.Footer a{
  font-family: Helvetica;
  color:white;
  background-color: dimgray;
  text-align: left;
  font-size: 16px;
}
